#container{
    font-family: sans-serif , Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

button{
    font-size: 1.5rem;
    padding: 12px 15px;
    border-radius: 2px;
    border: none;
    background-color: rgb(247, 181, 100);
    color: black;
    font-weight: lighter;
    cursor: pointer;
}
button:hover{
    background-color: rgb(223, 140, 40);
}

button:active{
    background-color: rgb(126, 79, 22);

}

input{
    font-size:  2rem;
    width :auto;
    text-align: center;
}

#diceResult{
    margin: 25px
}
#diceImages img{
    margin: 5px;
}

#head{
    text-decoration-line: underline;
    text-decoration-color: purple;
}